@page
@model WebAppControlCursos.Pages.ContactarModel
@{
    ViewData["Title"] = "Contactame";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    &nbsp;
    <div class="card-group">
        
        <div class="card">
            &nbsp;
            <a href="https://wa.me/51948798397" target="_blank" rel="noreferrer">
                <img src="https://drive.google.com/uc?id=1vjmVdUnLpG6nuRJZlZH1gQt-vrglV66O" alt="Contacto" width="150" height="150">
            </a>
            <div class="card-body">
                <h5 class="card-title">Datos de Contacto</h5>
                <p class="card-text">Telefono:</p>
                <p class="card-text">+51 948 798 397</p>
            </div>
        </div>

        <div class="card">
            &nbsp;
            <a href="mailto:lesg.2233@gmail.com" target="_blank" rel="noreferrer">
                <img src="https://drive.google.com/uc?id=1zpK9AX_MP1SxFwuExdue91TyV3YB4N4P" alt="email" width="180" height="145">
            </a>
            <div class="card-body">
                <h5 class="card-title">E-mail</h5>
                <p class="card-text">Correo:</p>
                <p class="card-text">lesg.2233@gmail.com</p>
             </div>
        </div>
        <div class="card">
            &nbsp;
            <a href="https://www.linkedin.com/in/luis-enrique-sanchez-geronimo-ba0bb6142/" target="_blank" rel="noreferrer">
                <img src="https://drive.google.com/uc?id=1Xk37wZMj3WQoyvNFMa0xemEluOBp-l1O" alt="linkedin" width="150" height="150">
            </a>
            <div class="card-body">
                <h5 class="card-title">Redes Sociales</h5>
                <p class="card-text">Linkedin:</p>
                <p class="card-text">Luis Enrique Sanchez Geronimo</p>
            </div>
        </div>
    </div>
</div>
