@page
@model WebAppControlCursos.Pages.ContactarModel
@{
    ViewData["Title"] = "Contactame:";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policya1.</p>
</div>
