@page
@model WebAppControlCursos.Pages.DetalleCursoModel
@{
    ViewData["Title"] = "DetalleCurso";
}
<div class="text-center">
    <h1 class="display-4">@Model.Course.Name</h1>
    &nbsp;
    <div class="card text-center">

        <div class="card-header">
            Descripcion
        </div>
        <div class="card-text">
            @Model.Course.Description
        </div>

    </div>
    &nbsp;
    <div class="card text-center">

        <div class="card-header">
            Autor
        </div>
        <div class="card-text">
            @Model.Course.Author
        </div>

    </div>
    &nbsp;
    <div class="card text-center">

        <div class="card-header">
            Direccion
        </div>
        <div class="card-text">
            @Model.Course.Uri
        </div>

    </div>
    &nbsp;

    <div>
        <a asp-page="Cursos" class="btn btn-primary">Ver la lista completa de Cursos</a>
    </div>


</div> 