@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container mt-4 text-center">
        <h1 class="display-6">WebAppControlCursos</h1>
        &nbsp;
        <p>Aplicación Web de ASP.NET Core con contenido de Razor Pages de ASP.NET Core.</p>
        <p>Esta aplicación fue desarrollada con .NET Core 3.0 y realizada por <a href="https://github.com/alphamen01" target="_blank" rel="noreferrer">alphamen01</a>.</p>
</div>