@page
@model PrivacyModel
@{
    ViewData["Title"] = "WebAppControlCursos";
}
<div class="text-center">   
<h1 class="display-6">@ViewData["Title"]</h1>
	&nbsp;
    <p>Esta aplicación fue realizada por <a href="https://github.com/alphamen01" target="_blank" rel="noreferrer">alphamen01</a>.</p>
	&nbsp;

	<div class="vh-60 row m-0 align-items-center justify-content-center">
		<div class="card" style="width: 18rem;">
			<div class="card-header">
				GitHub
			</div>
			<a href="https://github.com/alphamen01" target="_blank" rel="noreferrer">
				<img src="https://drive.google.com/uc?id=1VbZWjVkTspDStKHGpL3ScjPuAL1_xhDx" class="card-img-top" alt="GitHub">
			</a>
		</div>
	</div>
</div>


